@import url("../../../assets/styles/variables.css");

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) blur(10px) blur(10px) blur(10px);
  border: solid 1px var(--txt-color);
  border-radius: 1.4rem;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.01);
}

.project img {
  width: 20rem;
  align-self: center;
  justify-self: center;
}

.descriptionBox {
  text-align: left;
  justify-content: center;
}
