@import url("../../../assets/styles/variables.css");

.aboutBox {
  position: relative;
  top: 0;
  font-size: var(--btn-font-size-14);
  background-color: var(--bg-color-transparent);
  border: solid 1px rgba(40, 40, 40, 1);
  border-radius: var(--border-radius-1);
  padding: var(--border-radius-1);
  transition: all 0.3s ease;
}

.stackIcon {
  font-size: var(--paragraph-font-24);
  background-color: rgba(40, 40, 40, 0.5);
  padding: var(--size-8);
  width: fit-content;
  border-radius: var(--border-radius-1);
  margin-bottom: var(--border-radius-1);
}

.aboutBox:hover {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  top: -5px;
}
