@import url("../../../assets/styles/variables.css");

.aboutBox {
  position: relative;
  top: 0;
  background-color: rgba(40, 40, 40, 0.5);
  border: solid 1px rgba(40, 40, 40, 1);
  border-radius: var(--border-radius-1);
  padding: var(--border-radius-1);
  transition: all 0.3s ease;
}

.stackIcon {
  font-size: 2.5rem;
  line-height: 2.5rem;
  background-color: rgba(40, 40, 40, 0.5);
  padding: 8px;
  width: fit-content;
  border-radius: var(--border-radius-1);
  margin-bottom: var(--border-radius-1);
}

.aboutBox:hover {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  top: -5px;
}
