@import url("../../assets/styles/variables.css");

.navbarList {
  list-style: none;
  display: flex;
}

.navbarHead {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.2rem;
}

.navbarHead .navbarList {
  justify-content: space-between;
  gap: 2rem;
}

.navbarFooter .navbarList {
  flex-direction: column;
}

.logoHeaderBox {
  width: 3.8rem;
  position: absolute;
  top: -100%;
}
