.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: solid 1px #504945;
  padding: 1.4rem;
}

.navbarList {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
}
