@import url("../../assets/styles/variables.css");

.navbarList {
  list-style: none;
  display: flex;
}

.navbarHead {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--btn-font-size-14);
  font-weight: 700;
  text-transform: uppercase;
  padding: var(--btn-font-size-14);
}

.navbarHead .navbarList {
  justify-content: space-between;
  gap: var(--paragraph-font-20);
}

.navbarFooter .navbarList {
  flex-direction: column;
}
