@import url("../../assets/styles/variables.css");

.navMobile {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(10px);
}

/* .navBox { */
/*   position: relative; */
/*   width: 100%; */
/*   height: 100%; */
/* } */

nav {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}

.navMobile nav ul {
  flex-direction: column;
  gap: var(--margin-64);
  margin-bottom: var(--margin-64);
}

.navMobile button:first-child {
  position: absolute;
  top: 2%;
  left: 5%;
}

.navMobile button:last-child {
  font-size: var(--margin-44);
}
