@import url("../../assets/styles/variables.css");

.sectionAbout {
  padding-top: var(--margin-44);
  margin-bottom: var(--margin-100);
}

.aboutContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: var(--border-radius-1);
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-1);
  box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.1);
}

.devImage {
  width: var(--width-400);
  grid-row: 1 / -1;
}

.devDescription {
  font-size: var(--paragraph-font-24);
  width: var(--width-500);
}

.stacksBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--border-radius-1);
  padding: var(--border-radius-1);
  align-self: stretch;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* smaller desktops */

@media (max-width: 1200px) {
  .stacksBox {
    grid-template-columns: repeat(4, 1fr);
    align-self: stretch;
  }

  .stacksBox div {
    grid-column: span 2;
  }

  .stacksBox div:last-child:nth-child(2n + 1) {
    grid-column-end: 4;
  }
}

/* small tablets */

@media (max-width: 810px) {
  .aboutContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .devImage {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .devDescription {
    grid-column: 3 / -1;
  }

  .stacksBox {
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .stacksBox div {
    grid-column: auto;
  }
}

/* slight big phone */

@media (max-width: 520px) {
  .stacksBox {
    grid-template-columns: repeat(4, 1fr);
    align-self: stretch;
  }

  .stacksBox div {
    grid-column: span 2;
  }

  .stacksBox div:last-child:nth-child(2n + 1) {
    grid-column-end: 4;
  }
}

/* phone */

@media (max-width: 450px) {
  .aboutContainer {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .devImage {
    grid-row: 1;
    grid-column: auto;
  }

  .devDescription {
    font-size: 1.3rem;
    grid-row: 2;
    padding: 1rem;
    grid-column: 1 / span 2;
    width: 95%;
  }

  .stacksBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 3;
    grid-column: 1 / span 2;
  }
}
