@import url("../../assets/styles/variables.css");

.sectionAbout {
  padding-top: var(--margin-44);
  margin-bottom: var(--margin-100);
}

.aboutContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: var(--border-radius-1);
  background-color: var(--bg-color-white-transparent-01);
  border: solid 1px var(--bg-color-white-transparent-02);
  border-radius: var(--border-radius-1);
  box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.1);
}

.devDescription {
  font-size: var(--paragraph-font-24);
  width: var(--width-500);
  padding: var(--padding-16);
}

.stacksBox {
  display: grid;
  gap: var(--border-radius-1);
  padding: var(--border-radius-1);
}

.stacksBox {
  grid-template-columns: repeat(4, 1fr);
  /* align-self: stretch; */
}

.stacksBox div {
  grid-column: span 2;
}

.stacksBox div:last-child:nth-child(2n + 1) {
  grid-column-end: 4;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* smaller desktops */

@media (max-width: 1200px) {
  .stacksBox {
    grid-template-columns: repeat(4, 1fr);
  }

  .stacksBox div {
    grid-column: span 2;
  }

  .stacksBox div:last-child:nth-child(2n + 1) {
    grid-column-end: 4;
  }
}

/* tablets */

@media (max-width: 720px) {
  .devDescription {
    text-align: center;
    grid-column: 1 / -1;
    width: 60%;
  }

  .stacksBox {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }

  .stacksBox div {
    grid-column: auto;
  }
}

/* slight big phone */

@media (max-width: 520px) {
  .stacksBox {
    grid-template-columns: repeat(4, 1fr);
    align-self: stretch;
  }

  .stacksBox div {
    grid-column: span 2;
  }

  .stacksBox div:last-child:nth-child(2n + 1) {
    grid-column-end: 4;
  }
}

/* phone */

@media (max-width: 450px) {
  .aboutContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .devDescription {
    grid-row: 2;
    grid-column: 1 / span 2;
    width: 95%;
  }

  .stacksBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 3;
    grid-column: 1 / span 2;
  }
}
