@import url("../../assets/styles/variables.css");

@keyframes showHeader {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}

@keyframes hideHeader {
  from {
    top: 0;
  }
  to {
    top: -50%;
  }
}

.sectionHeader {
  border-bottom: solid 1px #504945;
  background: linear-gradient(
    to bottom,
    var(--bg-color),
    90%,
    rgb(40, 40, 40, 0.9)
  );
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.showHeader {
  position: sticky;
  animation: showHeader 0.3s ease;
  top: 0;
  z-index: 1000;
}

.hideHeader {
  position: sticky;
  animation: hideHeader 0.3s ease;
  top: -50%;
  z-index: 1000;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.header Nav {
  grid-column: 2;
}

.header .containerBtn {
  grid-column: -2;
  justify-self: end;
}

.containerBtn {
  gap: var(--paragraph-font-size-20);
}
