.sectionHeader {
  position: sticky;
  top: 0;
  border-bottom: solid 1px #504945;
  transition: all 0.3s ease;
  z-index: 1000;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.header Nav {
  grid-column: 2;
}

.header .containerBtn {
  grid-column: -2;
  justify-self: end;
}

.containerBtn {
  gap: 2rem;
}
