.sectionHeader {
  position: relative;
  margin-bottom: 4.4rem;
  border-bottom: solid 1px #504945;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.header Nav {
  grid-column: 2;
}

.header .containerBtn {
  grid-column: -2;
  justify-self: end;
}

.containerBtn {
  gap: 2rem;
}
