@import url("../../assets/styles/variables.css");

.sectionHeader {
  position: sticky;
  top: 0;
  border-bottom: solid 1px #504945;
  background: linear-gradient(
    to bottom,
    var(--bg-color),
    90%,
    rgb(40, 40, 40, 0.9)
  );

  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: all 0.3s ease;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.header Nav {
  grid-column: 2;
}

.header .containerBtn {
  grid-column: -2;
  justify-self: end;
}

.containerBtn {
  gap: 2rem;
}
