.sectionHero {
  margin-bottom: 4.4rem;
}

.heroTextBox {
  text-align: center;
  gap: 1.2rem;
}

.heroTextBox h1 {
  font-size: 3.8rem;
}

.heroTextBox p {
  font-size: 1.6rem;
  font-weight: 500;
  width: 31rem;
}

.name {
  font-size: 1.6rem;
}

.logo {
  filter: brightness(0) saturate(100%) invert(97%) sepia(2%) saturate(5006%)
    hue-rotate(338deg) brightness(87%) contrast(114%);
  width: 3.8rem;
}

.logo:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(93%) saturate(849%)
    hue-rotate(306deg) brightness(104%) contrast(113%);
}
