@import url("../../assets/styles/variables.css");

.sectionHero {
  margin-top: var(--margin-44);
  margin-bottom: var(--margin-64);
}

.heroTextBox {
  text-align: center;
  gap: 1.2rem;
}

.heroTextBox h1 {
  font-size: var(--heading-1-font-58);
}

.heroTextBox p {
  /* font-size: 2rem; */
  font-size: var(--paragraph-font-20);
  font-weight: 500;
  width: var(--paragraph-width-390);
}

.containerSocials {
  font-size: var(--paragraph-font-20);
  margin-bottom: 2.8rem;
}

.name {
  font-size: 1.8rem;
}

.logoImgArea {
  width: var(--logo-img-width-38);
  position: relative;
}
