.sectionHero {
  margin-bottom: 4.4rem;
}

.heroTextBox {
  text-align: center;
  gap: 1.2rem;
}

.heroTextBox h1 {
  font-size: 3.8rem;
}

.heroTextBox p {
  font-size: 1.6rem;
  font-weight: 500;
  width: 31rem;
}

.name {
  font-size: 1.6rem;
}

.logoImgArea {
  position: relative;
}

.logoImgArea img {
  width: 3.8rem;
}

.logoHover {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}

.logoHover:hover {
  opacity: 1;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 1));
}
