.sectionHero {
  margin-top: 4.4rem;
  margin-bottom: 6.4rem;
}

.heroTextBox {
  text-align: center;
  gap: 1.2rem;
}

.heroTextBox h1 {
  font-size: 5.8rem;
}

.heroTextBox p {
  font-size: 2rem;
  font-weight: 500;
  width: 39rem;
}

.containerSocials {
  font-size: 2rem;
  margin-bottom: 2.8rem;
}

.name {
  font-size: 1.8rem;
}

.logoImgArea {
  width: 3.8rem;
  position: relative;
}
