.sectionHero {
  margin-bottom: 6.4rem;
}

.heroTextBox {
  text-align: center;
  gap: 1.2rem;
}

.heroTextBox h1 {
  font-size: 5.8rem;
}

.heroTextBox p {
  font-size: 2rem;
  font-weight: 500;
  width: 39rem;
}

.containerSocials {
  font-size: 2rem;
  margin-bottom: 2.8rem;
}

.name {
  font-size: 1.8rem;
}

.logoImgArea {
  position: relative;
}

.logoImgArea img {
  width: 3.8rem;
}

.logoHover {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}

.logoHover:hover {
  opacity: 1;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 1));
}
