@import url("../../assets/styles/variables.css");

.sectionPortfolio {
  text-align: center;
  background-color: transparent;
  margin-bottom: 6.4rem;
}

.sectionPortfolio h2 {
  font-size: var(--logo-img-width-38);
  margin-bottom: 5.6rem;
}

.containerProjects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.projectItem {
  grid-column: span 2;
}

.projectItem:last-child:nth-child(2n + 1) {
  grid-column-end: 4;
}
