@import url('../../assets/styles/variables.css');

.sectionPortfolio {
  text-align: center;
  background-color: transparent;
  margin-bottom: 6.4rem;
}

.showMoreBtnContainer {
  display: none;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* tablets */

@media (max-width: 720px) {
  .containerProjects {
    max-height: 45rem;
    mask-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 80%,
      transparent
    );
  }
  
  .show {
    max-height: none;
    mask-image: none;
  }

  .showMoreBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--btn-font-size-14);
  }
}
