.sectionPortfolio {
  text-align: center;
  background-color: transparent;
}

.sectionPortfolio h2 {
  font-size: 3.8rem;
  margin-bottom: 5.6rem;
}

.containerProjects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.projectItem {
  grid-column: span 2;
}

.projectItem:nth-last-child(1) {
  grid-column: 2 / span 2;
}
