@import url("../../../assets/styles/variables.css");

.btn,
.show {
  border: none;
  color: var(--bg-color);
  font-family: inherit;
  font-size: var(--btn-font-size-14);
  font-weight: 800;
  text-transform: uppercase;
  border-radius: var(--btn-font-size-14);
  padding: var(--padding-10);
  cursor: pointer;
  background-color: var(--txt-color);
}

.btn--color-mode,
.btn--menu {
  color: var(--txt-color);
  font-size: var(--btn-font-size-14);
  font-weight: 700;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn--color-mode:hover,
.btn--menu:hover {
  color: var(--txt-hover-color);
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 1))
    drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.btn--color-mode:active,
.btn--menu:active {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.btn--contact,
.btnContact {
  color: var(--bg-color) !important;
  transition: all 0.3s ease;
}

.btn--contact:hover,
.btnContact {
  background-color: var(--txt-hover-color);
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
}

.btn--contact:active,
.btnContact {
  background-color: var(--txt-color);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.btn--menu {
  justify-self: self-start;
  font-size: var(--paragraph-font-24);
}

.btn--close {
  background-color: transparent;
  font-size: var(--margin-64);
  color: var(--txt-color);
  transition: all 0.3s ease;
}

.btn--close:hover {
  color: var(--txt-hover-color);
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 1))
    drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.btn--close:active {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.hidden {
  display: none;
}

@media (max-width: 720px) {
  .btn--color-mode {
    font-size: var(--paragraph-font-24);
  }
}
