@import url("../../../assets/styles/variables.css");

.btn {
  border: none;
  color: var(--bg-color);
  font-family: inherit;
  font-size: var(--btn-font-size-14);
  font-weight: 800;
  text-transform: uppercase;
  border-radius: var(--btn-font-size-14);
  padding: 10px;
  cursor: pointer;
  background-color: var(--txt-color);
}

.btn--color-mode {
  color: var(--txt-color);
  font-size: var(--btn-font-size-14);
  font-weight: 700;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn--color-mode:hover {
  color: var(--txt-hover-color);
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 1))
    drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.btn--color-mode:active {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.btn--contact {
  transition: all 0.3s ease;
}

.btn--contact:hover {
  background-color: var(--txt-hover-color);
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
}

.btn--contact:active {
  background-color: var(--txt-color);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}
