@import url('../../../assets/styles/variables.css');

.projectsContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.projectBox {
  position: relative;
  top: 0;
  background-color: var(--bg-color-white-transparent-01);
  border: solid 1px var(--bg-color-white-transparent-02);
  border-radius: var(--border-radius-1);
  box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.projectBox:hover {
  background-color: var(--bg-color-white-transparent-01);
  border: solid 1px var(--bg-color-white-transparent-02);
  top: -3px;
  box-shadow: 4px 4px 20px 20px rgba(0, 0, 0, 0.1);
}

.projectBox img {
  width: 100%;
}

.detailsBox {
  padding: var(--padding-10);
}

.detailsBox h3 {
  font-size: var(--paragraph-font-20);
}

.detailsBox .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-8);
  font-size: var(--btn-font-size-14);
  margin-bottom: var(--btn-font-size-14);
}

.links a {
  display: flex;
  align-items: center;
}

.links a span {
  margin-left: 3px;
}

.description {
  font-size: var(--btn-font-size-14);
  text-align: left;
  white-space: pre-line;
  margin-bottom: var(--btn-font-size-14);
}

.carouselTechStack {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  padding: var(--size-8);
}

.carouselTrack {
  display: flex;
  align-items: center;
  width: max-content;
  animation: scroll 15s infinite linear;
}

.listTechStack {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: var(--size-8);
  padding-right: var(--size-8);
  width: max-content;
  list-style: none;
}

.listTechStack li {
  flex: 0 0 auto;
  font-size: var(--padding-10);
  font-weight: 600;
  border-radius: var(--border-radius-1);
  padding: 8px 2rem;
}

.listTechStack .frontend {
  border: solid 1px var(--blue-color);
  background-color: var(--blue-color-transparent);
}

.listTechStack .frontend:hover {
  border-color: var(--blue-hover-color);
  background-color: var(--blue-hover-color-transparent);
}

.listTechStack .backend {
  border: solid 1px var(--red-color);
  background-color: var(--red-color-transparent);
}

.listTechStack .backend:hover {
  border-color: var(--red-hover-color);
  background-color: var(--red-hover-color-transparent);
}

.listTechStack .database {
  border: solid 1px var(--gray-color);
  background-color: var(--gray-color-transparent);
}

.listTechStack .database:hover {
  border-color: var(--gray-hover-color);
  background-color: var(--gray-hover-color-transparent);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
