@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: var(--txt-color);
  font-family: "Nunito", "Roboto", "Adwaita Sans", sans-serif;
  background: var(--bg-color);
  height: 100vh;
}

body::before {
  position: absolute;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  content: " ";
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.2;
  filter: blur(20px) blur(20px);
}

a:link {
  color: var(--txt-color);
  text-decoration: none;
  transition: all 0.3s linear;
}

a:visited {
  color: var(--txt-color);
}

a:hover {
  color: var(--txt-hover-color);
}

a:active {
  color: var(--txt-active-color);
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.section {
  padding: 1.6rem 3rem;
}
